.filtroSelect {
  background-color: rgb(190, 190, 200);
  border: 2px solid #3b417b;
  border-radius: 10px !important;
  box-shadow: 10px 5px 5px black;
  font-family: monospace !important;
  font-size: 16px !important;
  width: 170px !important;
  height: 40px !important;
  justify-content: baseline;
  cursor: pointer;
  padding: 5px;
}
.optionSelect {
  cursor: pointer;
}
.label {
  font-size: 18px !important;
  color: #3b417b;
}
.filter {
  display: flex;
  flex-direction: column;
}
