<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (celda()) {
      <div>
        <h2 data-cy="celdaDetailsHeading"><span jhiTranslate="policia360App.celda.detail.title">Celda</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ celda()!.id }}</span>
          </dd>
          <dt><span jhiTranslate="policia360App.celda.numeroCamas">Numero Camas</span></dt>
          <dd>
            <span [jhiTranslate]="'policia360App.NumeroCamas.' + (celda()!.numeroCamas ?? 'null')">{{
              { null: '', UNO: 'UNO', DOS: 'DOS', TRES: 'TRES', CUATRO: 'CUATRO' }[celda()!.numeroCamas ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="policia360App.celda.disponibilidad">Disponibilidad</span></dt>
          <dd>
            <span>{{ celda()!.disponibilidad }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/celda', celda()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
